h1 {
    width: 100%;
    text-align: center;
}

#userStatus {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.postDiv, .postDetailDiv, .commentDiv {
    border: 1px solid darkgray;
    width: 100%;
    padding: 3px;
    margin: 3px;
}

.title {
    text-align: center;
}

.postDetailtimestamp, .timestamp, .commentTimestamp {
    font-style: italic;
}

.commentsBtn,
.addCommentBtn,
.backBtn,
.deleteBtn,
.updateBtn, #addPostBtn {
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 5px;
}

.commentsBtn:hover,
.addCommentBtn:hover,
.backBtn:hover {
    color: rgb(83, 83, 2)

}

.commentsBtn {
    margin-top: 15px;
}

.submitBtn {
    cursor: pointer;
}

.commentInputDiv {
    margin: 20px 10px;
}

.commentInputLabel {
    margin-right: 20px;
}

.loginInputDiv, .signupInputDiv {
    margin: 5px;
}

.addPostInputDiv {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5px;
}

input[type="checkbox"] {
    accent-color: rgb(83, 83, 2)
}